<section class="block">
    <header class="block__header">
      <h2>What our Customers are Saying</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque vel
        provident voluptate reiciendis at earum eligendi illo iure, ipsam
        ipsa.
      </p>
    </header>
    <div class="container">
      <div class="card testmimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A happy, smiling customer">
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#quotes"></use>
               </svg>
            </span>
          </div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis similique
              quia placeat reprehenderit consequuntur est porro laudantium repellat odit
              dolor.
            </p>
            <footer>
              <div class="media">
                <div class="media_image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Abdulhamid Hayredin</h3>
                  <p class="quote__organization">Software developer @ NEO AI</p>
                </div>
              </div>
            </footer>
          </blockquote>
          
        </div>
      </div>
    </div>
  </section>